h1{text-align: center}
p{
	text-align: center;
	font-family:arial;
	font-weight: bold;
	color: black;
	background-color: white;
	border: 3px black;
	border-radius:4px
}

html {
	background: url(background.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
}

#map {height: 700px;
 }